<p>
  <strong>To</strong>
  <%= @complaint.to %>
</p>

<p>
  <strong>Complaint</strong>
  <%= @complaint.text %>
</p>

<p>
  <strong>From</strong>
  <%= @complaint.from %>
</p>

<%= link_to 'Complaints', complaints_path %>
